*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif; 
    scroll-behavior: smooth;
}

body{
    background: black;
    color: white;
    
}

.container {
    padding: 20px 60px;
}

header{
    padding: 0px 80px;
}

nav {
   display:flex;
   justify-content: space-between;
   align-items: center;
}

nav h1 {
    color: black;
    font-size: 40px;
    letter-spacing: 1px;
    color: aliceblue;

}

nav li {
    display: inline-block;
    list-style-type: none;
    padding: 0px 10px;

}

nav li a {
    text-decoration: none;
    color: white;
}


#home{
    color: white;
    padding-top: 170px;
    height: 100vh;
    text-align: center;
}

#home p {
    font-size: 25px;
}

.name {
    font-size: 50px;
    
}

img {
    border: 2px solid;
    border-radius: 4px;
    
}

#aboutme{
    color: white;   

}

.aboutme{
    padding-left: 30px;
    
}

.about{
    display: flex;
    padding-top: 30px;
}


.projectimage{
    width: 50%;
    height: 350px;

}

.heading{
    font-size: 70px;
    text-align: center;

}
